body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	animation: gradient 12s ease infinite;
	background-size: 400% 400%;
	background: linear-gradient(-45deg, rgb(2, 27, 62), #0d1c88, #0d7da6, #0bd1ce) ;
}
header{
	margin-top: 5%;
}
.conteneur{
	text-align: center;
	position: relative;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.conteneur span{
	display: block;
}

.Puissance4{
	color: rgb(55, 98, 165);
	font-size: 110px;
	letter-spacing: 8px;
	text-shadow: 0 0 3px #ffffff;
}

a{  
    text-decoration: none;
	font-style: normal;
}

a:hover {
	font-size: 115px;
}

#game_table{
	display: flex;
	justify-content: center;
}

.table {
	border-collapse: collapse;
}

.table td{
	border: black solid;
}

@keyframes gradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


